<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.recall.dao.ClassAndGradeMapper">
  <resultMap id="BaseResultMap" type="com.my.recall.model.ClassAndGrade">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pclass" jdbcType="VARCHAR" property="pclass" />
  </resultMap>
</mapper>